<!--我的药单 mylist-->
<ion-view view-title='我的药单' >
  <ion-content>
    <div class="row">
      <div class="col col-50" style="border-top:1px solid #eee;border-right: 1px solid #eee;border-bottom: 1px solid #ccc;text-align: center;">
        <a href="#/tab/OrderrList/orderrA" style="text-decoration: none;"><img src="res/img/wo_chulizhong.png" style="width: 30%;margin-top: 6px;"/><p style="color: #4d4d4d;font-weight: normal;">未完成</p></a>
      </div>
      <div class="col col-50" style="border-top:1px solid #eee;border-bottom: 1px solid #ccc;text-align: center;">
        <a href="#/tab/OrderrList/orderrB" style="text-decoration: none;"><img src="res/img/wo_yiwancheng.png" style="width: 30%;margin-top: 6px;"/><p style="color: #4d4d4d;font-weight: normal;">已完成</p></a>
      </div>
    </div>


    <!--<div ng-switch-when="undone" name="undoneLoginForm">
      <div class="row" style="margin-top: 50px;">
        <div class="col col-50" style="border-top:1px solid #eee;border-right: 1px solid #eee;border-bottom: 1px solid #ccc;text-align: center;">
          <a href="#/tab/OrderrList/orderrA" style="text-decoration: none;">
            <img src="res/img/wo_chulizhong.png" style="width: 30%;margin-top: 6px;"/>
            <p style="color: #4d4d4d;font-weight: normal;">自购未完成</p>
          </a>
        </div>
        <div class="col col-50" style="border-top: 1px solid #eee;border-right: 1px solid #eee;border-bottom: 1px solid #ccc;text-align: center;">
          <a href="#/tab/OrderrList/orderrC" style="text-decoration: none;">
            <img src="res/img/wo_yjchulizhong.png" style="width: 30%;margin-top: 6px;"/>
            <p style="color: #4d4d4d;font-weight: normal;">药笺未完成</p>
          </a>
        </div>
      </div>
    </div>
    <div ng-switch-when="done" name="doneLoginForm">
      <div class="row" style="margin-top: 50px;">
        <div class="col col-50" style="border-top:1px solid #eee;border-bottom: 1px solid #ccc;text-align: center;">
          <a href="#/tab/OrderrList/orderrB" style="text-decoration: none;">
            <img src="res/img/wo_yiwancheng.png" style="width: 30%;margin-top: 6px;"/>
            <p style="color: #4d4d4d;font-weight: normal;">自购已完成</p>
          </a>
        </div>
        <div class="col col-50" style="border-top: 1px solid #eee;border-bottom: 1px solid #ccc;text-align: center;">
          <a href="#/tab/OrderrList/orderrD" style="text-decoration: none;">
            <img src="res/img/wo_yjwancheng.png" style="width: 30%;margin-top: 6px;"/>
            <p style="color: #4d4d4d;font-weight: normal;">药笺已完成</p>
          </a>
        </div>
      </div>
    </div>-->
  </ion-content>
</ion-view>
