<!--Dmmsg，医患聊天记录详细信息-->
<ion-view view-title='医患聊天记录' cache-view='false'>
  <ion-nav-buttons side="right">
		<h4></h4>
	  <a ng-if="vm.isedit==false" class="button icon ion-edit" ng-click="vm.isedit=true"></a>
	  <a ng-if="vm.isedit==true" class="button button-dark icon ion-close" ng-click="vm.isedit=false;clickx()"></a>
	  <a ng-if="vm.isedit==true" class="button button-balanced icon ion-checkmark" ng-click="vm.isedit=false;save()"></a>
  </ion-nav-buttons>
  <ion-content class="has-header" >
	<ul class="list" ng-if="obj && vm.isedit==false">
		<li class="item">序号ID:{{obj.id}}</li>
		<li class="item">创建时间:{{obj.gmtCreateString}}</li>
		<li class="item">是否读过:{{obj.readedString}}</li>
		<li class="item">发送接收:{{obj.fromtoString}}</li>
		<li class="item">会员:{{obj.memberIdString}}</li>
		<li class="item">医生:{{obj.doctorIdString}}</li>
		<li class="item">产品:{{obj.productIdString}}</li>
		<li class="item">消息内容:{{obj.msg}}</li>
	</ul>
	<!--修改-->
	<ul class="list" ng-if="obj && vm.isedit==true">
		<label class="item item-input">序号ID:<input type="text" placeholder="序号ID"  ng-model="obj.id"></label>
		<label class="item item-input item-select">
			<div class="input-label">
				是否读过:
			</div>
			<select  ng-model="obj.readed">
				<option ng-repeat="(key,val) in obj.readedMap" value="{{key}}" ng-selected="val==obj.readed">{{val}}</option>
			</select>
		</label>
		<label class="item item-input item-select">
			<div class="input-label">
				发送接收:
			</div>
			<select  ng-model="obj.fromto">
				<option ng-repeat="(key,val) in obj.fromtoMap" value="{{key}}" ng-selected="val==obj.fromto">{{val}}</option>
			</select>
		</label>
		<label class="item item-input">会员:<input type="text" placeholder="会员"  ng-model="obj.memberId"></label>
		<label class="item item-input">医生:<input type="text" placeholder="医生"  ng-model="obj.doctorId"></label>
		<label class="item item-input">产品:<input type="text" placeholder="产品"  ng-model="obj.productId"></label>
		<label class="item item-input">消息内容:<input type="text" placeholder="消息内容"  ng-model="obj.msg"></label>
		<li class="item"><a ng-click="vm.isedit=false;save()" class="button button-full button-balanced"><i class="icon ion-checkmark"></i>保存</a></li>
		<li class="item"><a ng-click="vm.isedit=false" class="button button-full button-dark"><i class="icon ion-close"></i>取消</a></li>
	</ul>
    <ion-spinner class="topic-spinner ng-hide" ng-show="!obj" ng-style="{'top':getHalfHeight()+'px'}"></ion-spinner>
  </ion-content>
</ion-view>
