<!--Memberdoctor，医患关系详细信息-->
<ion-view view-title='医患关系' cache-view='false'>
  <ion-nav-buttons side="right">
		<h4></h4>
	  <a ng-if="vm.isedit==false" class="button icon ion-edit" ng-click="vm.isedit=true"></a>
	  <a ng-if="vm.isedit==true" class="button button-dark icon ion-close" ng-click="vm.isedit=false;clickx()"></a>
	  <a ng-if="vm.isedit==true" class="button button-balanced icon ion-checkmark" ng-click="vm.isedit=false;save()"></a>
  </ion-nav-buttons>
  <ion-content class="has-header" >
	<ul class="list" ng-if="obj && vm.isedit==false">
		<li class="item">序号ID:{{obj.id}}</li>
		<li class="item">创建时间:{{obj.gmtCreateString}}</li>
		<li class="item">修改时间:{{obj.gmtModifiedString}}</li>
		<li class="item">关系:{{obj.statusDmString}}</li>
		<li class="item">是否为首推:{{obj.itypeFirstString}}</li>
		<li class="item">医生类型:{{obj.itype}}</li>
		<li class="item">患者:{{obj.memberIdString}}</li>
		<li class="item">医生:{{obj.doctorIdString}}</li>
		<li class="item">处方数量:{{obj.countPrescription}}</li>
		<li class="item">消费金额:{{obj.countOrderr}}</li>
		<li class="item">会员姓名:{{obj.mname}}</li>
		<li class="item">医生姓名:{{obj.dname}}</li>
		<li class="item">医科目录:{{obj.productchannelId}}</li>
		<li class="item">会员未读消息:{{obj.mmsgnotread}}</li>
		<li class="item">医生未读消息:{{obj.dmsgnotread}}</li>
	</ul>
	<!--修改-->
	<ul class="list" ng-if="obj && vm.isedit==true">
		<label class="item item-input">序号ID:<input type="text" placeholder="序号ID"  ng-model="obj.id"></label>
		<label class="item item-input item-select">
			<div class="input-label">
				关系:
			</div>
			<select  ng-model="obj.statusDm">
				<option ng-repeat="(key,val) in obj.statusDmMap" value="{{key}}" ng-selected="val==obj.statusDm">{{val}}</option>
			</select>
		</label>
		<label class="item item-input item-select">
			<div class="input-label">
				是否为首推:
			</div>
			<select  ng-model="obj.itypeFirst">
				<option ng-repeat="(key,val) in obj.itypeFirstMap" value="{{key}}" ng-selected="val==obj.itypeFirst">{{val}}</option>
			</select>
		</label>
		<label class="item item-input">医生类型:<input type="text" placeholder="医生类型"  ng-model="obj.itype"></label>
		<label class="item item-input">患者:<input type="text" placeholder="患者"  ng-model="obj.memberId"></label>
		<label class="item item-input">医生:<input type="text" placeholder="医生"  ng-model="obj.doctorId"></label>
		<label class="item item-input">处方数量:<input type="text" placeholder="处方数量"  ng-model="obj.countPrescription"></label>
		<label class="item item-input">消费金额:<input type="text" placeholder="消费金额"  ng-model="obj.countOrderr"></label>
		<label class="item item-input">会员姓名:<input type="text" placeholder="会员姓名"  ng-model="obj.mname"></label>
		<label class="item item-input">医生姓名:<input type="text" placeholder="医生姓名"  ng-model="obj.dname"></label>
		<label class="item item-input">医科目录:<input type="text" placeholder="医科目录"  ng-model="obj.productchannelId"></label>
		<label class="item item-input">会员未读消息:<input type="text" placeholder="会员未读消息"  ng-model="obj.mmsgnotread"></label>
		<label class="item item-input">医生未读消息:<input type="text" placeholder="医生未读消息"  ng-model="obj.dmsgnotread"></label>
		<li class="item"><a ng-click="vm.isedit=false;save()" class="button button-full button-balanced"><i class="icon ion-checkmark"></i>保存</a></li>
		<li class="item"><a ng-click="vm.isedit=false" class="button button-full button-dark"><i class="icon ion-close"></i>取消</a></li>
	</ul>
    <ion-spinner class="topic-spinner ng-hide" ng-show="!obj" ng-style="{'top':getHalfHeight()+'px'}"></ion-spinner>
  </ion-content>
</ion-view>
