<!--Seller，业务员详细信息-->
<ion-view view-title='业务员' cache-view='false'>
  <ion-nav-buttons side="right">
		<h4></h4>
	  <a ng-if="vm.isedit==false" class="button icon ion-edit" ng-click="vm.isedit=true"></a>
	  <a ng-if="vm.isedit==true" class="button button-dark icon ion-close" ng-click="vm.isedit=false;clickx()"></a>
	  <a ng-if="vm.isedit==true" class="button button-balanced icon ion-checkmark" ng-click="vm.isedit=false;save()"></a>
  </ion-nav-buttons>
  <ion-content class="has-header" >
	<ul class="list" ng-if="obj && vm.isedit==false">
		<li class="item">用户ID:{{obj.id}}</li>
		<li class="item">级别:{{obj.dlevelString}}</li>
		<li class="item">姓名:{{obj.name}}</li>
		<li class="item">身份证号:{{obj.idcard}}</li>
		<li class="item">年龄:{{obj.age}}</li>
		<li class="item">性别:{{obj.usersexString}}</li>
		<li class="item">入司时间:{{obj.gmtInString}}</li>
		<li class="item">就职时间(合作时间):{{obj.gmtWorkString}}</li>
		<li class="item">所在区域:{{obj.area}}</li>
		<li class="item">直接销售总额:{{obj.mmoney}}</li>
		<li class="item">下属团队销售总额:{{obj.mmoneyteam}}</li>
		<li class="item">总销售金额:{{obj.mmoneyall}}</li>
		<li class="item">上级:{{obj.parentidString}}</li>
		<li class="item">排列顺序:{{obj.priority}}</li>
		<li class="item">孩子数量:{{obj.childrennum}}</li>
		<li class="item">祖先:{{obj.family}}</li>
		<li class="item">二维码</li>
		<li class="item" style="height:120px"><img reset-img ng-src='{{obj.qrimg}}' style="height:120px"></li>
	</ul>
	<!--修改-->
	<ul class="list" ng-if="obj && vm.isedit==true">
		<label class="item item-input">用户ID:<input type="text" placeholder="用户ID"  ng-model="obj.id"></label>
		<label class="item item-input item-select">
			<div class="input-label">
				级别:
			</div>
			<select  ng-model="obj.dlevel">
				<option ng-repeat="(key,val) in obj.dlevelMap" value="{{key}}" ng-selected="val==obj.dlevel">{{val}}</option>
			</select>
		</label>
		<label class="item item-input">姓名:<input type="text" placeholder="姓名"  ng-model="obj.name"></label>
		<label class="item item-input">身份证号:<input type="text" placeholder="身份证号"  ng-model="obj.idcard"></label>
		<label class="item item-input">年龄:<input type="text" placeholder="年龄"  ng-model="obj.age"></label>
		<label class="item item-input item-select">
			<div class="input-label">
				性别:
			</div>
			<select  ng-model="obj.usersex">
				<option ng-repeat="(key,val) in obj.usersexMap" value="{{key}}" ng-selected="val==obj.usersex">{{val}}</option>
			</select>
		</label>
		<label class="item item-input"><span class="input-label">入司时间:</span><input type="datetime" ng-model="obj.gmtIn"></label>
		<label class="item item-input"><span class="input-label">就职时间(合作时间):</span><input type="datetime" ng-model="obj.gmtWork"></label>
		<label class="item item-input">所在区域:<input type="text" placeholder="所在区域"  ng-model="obj.area"></label>
		<label class="item item-input">直接销售总额:<input type="text" placeholder="直接销售总额"  ng-model="obj.mmoney"></label>
		<label class="item item-input">下属团队销售总额:<input type="text" placeholder="下属团队销售总额"  ng-model="obj.mmoneyteam"></label>
		<label class="item item-input">总销售金额:<input type="text" placeholder="总销售金额"  ng-model="obj.mmoneyall"></label>
		<label class="item item-input">上级:<input type="text" placeholder="上级"  ng-model="obj.parentid"></label>
		<label class="item item-input">排列顺序:<input type="text" placeholder="排列顺序"  ng-model="obj.priority"></label>
		<label class="item item-input">孩子数量:<input type="text" placeholder="孩子数量"  ng-model="obj.childrennum"></label>
		<label class="item item-input">祖先:<input type="text" placeholder="祖先"  ng-model="obj.family"></label>
        <label class="item item-input">二维码:
          <div ngf-select ngf-drop ng-model="files_qrimg" ngf-model-invalid="invalidFiles"
               ng-model-options="modelOptionsObj"
               ngf-multiple="multiple" ngf-pattern="pattern" ngf-accept="acceptSelect"
               ng-disabled="disabled" ngf-capture="capture"
               ngf-drag-over-class="dragOverClassObj"
               ngf-validate="validateObj"
               ngf-resize="resizeObj"
               ngf-resize-if="resizeIfFn($file, $width, $height)"
               ngf-dimensions="dimensionsFn($file, $width, $height)"
               ngf-duration="durationFn($file, $duration)"
               ngf-keep="keepDistinct ? 'distinct' : keep"
               ngf-fix-orientation="orientation"
               ngf-allow-dir="allowDir" ngf-drop-available="dropAvailable">
            <button class="button button-clear button-icon icon ion-ios-camera-outline" style=""></button>
          </div>
		</label>
        <label class="item item-input" style="height: 120px;"><img ng-src="{{obj.qrimg}}" style="height: 120px;"></label>
		<li class="item"><a ng-click="vm.isedit=false;save()" class="button button-full button-balanced"><i class="icon ion-checkmark"></i>保存</a></li>
		<li class="item"><a ng-click="vm.isedit=false" class="button button-full button-dark"><i class="icon ion-close"></i>取消</a></li>
	</ul>
    <ion-spinner class="topic-spinner ng-hide" ng-show="!obj" ng-style="{'top':getHalfHeight()+'px'}"></ion-spinner>
  </ion-content>
</ion-view>
