<!--DoctorList，医生会员列表-->
<ion-view view-title="服务" >
  <ion-nav-buttons side="right">
    <h4></h4>
  </ion-nav-buttons>
  <ion-content class="has-tabs has-header">
    <ul class="list">
      <a class="item" href="tel:\\0571-85389727">
        <p>
          <span>电话客服：</span>
          <span>0571-85389727</span>
        </p>
      </a>
      <a class="item" href="sms:13346189099">
        <p>
          <span>短信客服：</span>
          <span>13346189099</span>
        </p>
      </a>
      <a class="item" ng-click="editpassword()">
        <p>
          <span>忘记密码：</span>
          <span>找回密码</span>
        </p>
      </a>
    </ul>
  </ion-content>
</ion-view>
