<!--Setting，业务员设置列表-->
<ion-view view-title="设置" >
  <ion-nav-buttons side="right">
    <h4></h4>
  </ion-nav-buttons>
  <ion-content class="has-tabs has-header">
    <ul class="list">
      <li class="item" ng-click="clear()">
        <p>
          <span>清除系统缓存</span>
        </p>
      </li>
      <li class="item" ng-click="rx('#/tab/yijian')">
        <p>
          <span>关于我们[1.1.8.1(16)]</span>
        </p>
      </li>
      <a  class="button button-positive"style="margin-top:25px;margin-left: 20%;width:60%;background-color: #7E5335;" ng-click="logout()">退出当前用户</a>
    </ul>
  </ion-content>
</ion-view>
