<!--DoctorList，医生会员列表-->
<ion-view view-title="服务" >
  <ion-nav-buttons side="right">
    <h4></h4>
  </ion-nav-buttons>
  <ion-content class="has-tabs has-header">
    <div class="list">
      <div class="item item-divider"></div>
      <a class="item"style="border: none" href="tel:\\0571-85389727">
        <p>
          <span>电话客服：</span>
          <span style="margin-top: -20px">0571-85389727</span></br>
        </p>
      </a>
      <a class="item"style="border: none" href="sms:13346189099">
        <p>
          <span>短信客服：</span>
          <span style="margin-top: -20px" >13346189099</span>
        </p>
      </a>

    </div>
  </ion-content>
</ion-view>
