<ion-view view-title="演示首页">
  <ion-content class="padding">
    <h2>演示</h2>
	<ul class="list">
		<a class="item" href="#/tab/MemberdoctorList">MemberdoctorList</a>
		<a class="item" href="#/tab/DoctorProductList">DoctorProductList</a>
		<a class="item" href="#/tab/DmmsgList">DmmsgList</a>
		<a class="item" href="#/tab/DgmmsgList">DgmmsgList</a>
		<a class="item" href="#/tab/DrugstoreList">DrugstoreList</a>
		<a class="item" href="#/tab/HospitalList">HospitalList</a>
		<a class="item" href="#/tab/MedicalrecList">MedicalrecList</a>
		<a class="item" href="#/tab/MedicalrecPageList">MedicalrecPageList</a>
		<a class="item" href="#/tab/MedicalrecRptList">MedicalrecRptList</a>
		<a class="item" href="#/tab/MedicalrecHealthList">MedicalrecHealthList</a>
		<a class="item" href="#/tab/CmschannelList">CmschannelList</a>
		<a class="item" href="#/tab/CmscontentList">CmscontentList</a>
		<a class="item" href="#/tab/CmscontentExtTxtList">CmscontentExtTxtList</a>
		<a class="item" href="#/tab/WwwhomeList">WwwhomeList</a>
		<a class="item" href="#/tab/TopicList">TopicList</a>
		<a class="item" href="#/tab/ProductList">ProductList</a>
		<a class="item" href="#/tab/ProductExtTxtList">ProductExtTxtList</a>
		<a class="item" href="#/tab/ProductchannelList">ProductchannelList</a>
		<a class="item" href="#/tab/ManufacturerList">ManufacturerList</a>
		<a class="item" href="#/tab/ProductTypeList">ProductTypeList</a>
		<a class="item" href="#/tab/ProductTypeLinkProductList">ProductTypeLinkProductList</a>
		<a class="item" href="#/tab/SuggestionList">SuggestionList</a>
		<a class="item" href="#/tab/UserList">UserList</a>
		<a class="item" href="#/tab/MemberList">MemberList</a>
		<a class="item" href="#/tab/DoctorList">DoctorList</a>
		<a class="item" href="#/tab/DruggistList">DruggistList</a>
		<a class="item" href="#/tab/SellerList">SellerList</a>
		<a class="item" href="#/tab/CartList">CartList</a>
		<a class="item" href="#/tab/OrderrList">OrderrList</a>
		<a class="item" href="#/tab/OrderrFinishedList">OrderrFinishedList</a>
		<a class="item" href="#/tab/OrderrdetailList">OrderrdetailList</a>
		<a class="item" href="#/tab/OrderrdetailFinishedList">OrderrdetailFinishedList</a>
		<a class="item" href="#/tab/OrderrSnSearchhisList">OrderrSnSearchhisList</a>
	</ul>
  </ion-content>
</ion-view>
