<!--MedicalrecHealthList，病历之健康指标列表-->
<ion-view view-title="健康指标列" cache-view="false">
	<ion-nav-buttons side="right">
		<h4></h4>
	</ion-nav-buttons>
	<ion-content class="has-tabs has-header">
        <ion-refresher pulling-text="下拉刷新..." on-refresh="doRefresh()"></ion-refresher>
        <ion-list class="list">
            <ion-item class="item-avatar" bindonce collection-repeat="obj in list" collection-item-width="'100%'" collection-item-height="100px">
                <img src="res/img/healthy.png" style="width: 60px;"/>
              <a ng-click="rx('#/tab/MedicalrecHealth/'+obj.id)" style="text-decoration: none;font-weight: normal;color: #000;">
                  <span>健康序列号:{{obj.id}}</span><br>
                  <span class="item-note ago" am-time-ago="obj.gmtCreate"></span>
                  <a ng-click="rx('#/tab/MedicalrecHealth/'+obj.id)" class="ion-chevron-right"  style="position: absolute;left:92%;top:35px;text-decoration: none;color: #444;"></a>
              </a>
            </ion-item>
        </ion-list>
        <ion-infinite-scroll on-infinite="more()" distance="1%" ng-if="page.hasNextPage"></ion-infinite-scroll>
        <ion-spinner class="topic-spinner ng-hide" ng-show="!list" ng-style="{'top':getHalfHeight()+'px'}"></ion-spinner>
    </ion-content>
</ion-view>
