<!--DoctorProduct，医生的药架详细信息-->
<ion-view view-title='医生的药架' cache-view='false'>
  <ion-nav-buttons side="right">
		<h4></h4>
  </ion-nav-buttons>
  <ion-content class="has-header" >
	<ul class="list" ng-if="obj">
		<li class="item">序号ID:{{obj.id}}</li>
		<li class="item">创建时间:{{obj.gmtCreateString}}</li>
		<li class="item">医生:{{obj.doctorIdString}}</li>
		<li class="item">商品:{{obj.productIdString}}</li>
	</ul>
    <ion-spinner class="topic-spinner ng-hide" ng-show="!obj" ng-style="{'top':getHalfHeight()+'px'}"></ion-spinner>
  </ion-content>
</ion-view>
