<!--MedicalrecRpt，病历之检查报告详细信息-->
<ion-view view-title='病历之检查报告' cache-view='false'>
  <ion-nav-buttons side="right">
		<h4></h4>
  </ion-nav-buttons>
  <ion-content class="has-header" >
	<ul class="list" ng-if="obj">
		<li class="item">序号ID:{{obj.id}}</li>
		<li class="item">创建时间:{{obj.gmtCreateString}}</li>
		<li class="item">病史ID:{{obj.medicalrecPageIdString}}</li>
		<li class="item">患者:{{obj.medicalrecIdString}}</li>
		<li class="item">化验单类型:{{obj.ttypeString}}</li>
		<li class="item">化验单图片</li>
		<li class="item" style="height:120px"><img reset-img ng-src='{{obj.img1}}' style="height:120px"></li>
	</ul>
    <ion-spinner class="topic-spinner ng-hide" ng-show="!obj" ng-style="{'top':getHalfHeight()+'px'}"></ion-spinner>
  </ion-content>
</ion-view>
