<!--OrderrdetailFinished，订单详细详细信息-->
<ion-view view-title='订单详细' cache-view='false'>
  <ion-nav-buttons side="right">
		<h4></h4>
  </ion-nav-buttons>
  <ion-content class="has-header" >
	<ul class="list" ng-if="obj">
		<li class="item">序号ID:{{obj.id}}</li>
		<li class="item">创建时间:{{obj.gmtCreateString}}</li>
		<li class="item">发货时间:{{obj.gmtSentString}}</li>
		<li class="item">收货时间:{{obj.gmtRecvString}}</li>
		<li class="item">订单号:{{obj.orderrIdString}}</li>
		<li class="item">开单类型:{{obj.iotypeString}}</li>
		<li class="item">支付状态:{{obj.statusString}}</li>
		<li class="item">收发货状态:{{obj.statusgoodsString}}</li>
		<li class="item">统计状态:{{obj.statuscountString}}</li>
		<li class="item">会员:{{obj.memberIdString}}</li>
		<li class="item">开药医生:{{obj.doctorWrString}}</li>
		<li class="item">首推荐医生:{{obj.doctorIdString}}</li>
		<li class="item">产品:{{obj.productIdString}}</li>
		<li class="item">商品名:{{obj.title}}</li>
		<li class="item">厂商产地:{{obj.manufacturerIdString}}</li>
		<li class="item">规格型号:{{obj.productstyle}}</li>
		<li class="item">图1:{{obj.img1}}</li>
		<li class="item">单价:{{obj.price}}</li>
		<li class="item">数量:{{obj.num}}</li>
		<li class="item">总价:{{obj.sumprice}}</li>
		<li class="item">用药方法:{{obj.usemethord}}</li>
		<li class="item">医嘱:{{obj.otherdetail}}</li>
		<li class="item">用法用量:{{obj.usemount}}</li>
	</ul>
    <ion-spinner class="topic-spinner ng-hide" ng-show="!obj" ng-style="{'top':getHalfHeight()+'px'}"></ion-spinner>
  </ion-content>
</ion-view>
